* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4rem;
}

:root {
  --bg-dark-one: #1f1f1f;
  --bg-dark-two: #282828;
  --bg-dark-three: #1d1d1d;
  --bg-dark-four: #00000033;
  --color-white: #ffffff;
  --color-darken: #888888;
  --color-red: #e32d0d;
  --neon-primary: #e42427;
  --neon-secondary: #ffbdbd;
  --linear-gradient-one: linear-gradient(to right bottom, #173332, #306167);
}

.navbar {
  font-size: 0.9rem;
  position: absolute;
  transform: translateX(-60px);
  top: 0;
  background: var(--bg-dark-two);
  color: var(--color-darken);
  text-align: center;
  height: 100vh;
  min-height: 600px;
  z-index: 7;
  width: 60px;
  overflow: auto;
}

.navbar .text-logo {
  color: var(--color-white);
}

.navbar i {
  color: var(--color-darken);
  font-size: 1.7rem;
  transition: all 0.1s ease-in-out;
}

.navbar nav .material-icons-outlined {
  font-size: 2rem;
}

.navbar .social .fa-info-circle {
  font-size: 1.5rem;
}

.navbar nav a {
  height: 50px;
  margin-bottom: 5px;
  display: block;
  color: var(--color-darken);
  width: 100%;
  transition: all 0.3s ease-out;
}

.navbar .social a i:hover,
.navbar nav a b:hover {
  color: var(--neon-secondary);
  text-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary),
    0 0 20px var(--neon-primary);
}

.navbar nav b {
  padding: 5px;
  display: none;
}

.navbar nav a:hover b {
  display: block;
  color: var(--neon-secondary);
  text-shadow: 0 0 10px var(--neon-primary), 0 0 40px var(--neon-primary),
    0 0 20px var(--neon-primary);
}

.navbar nav a:hover i {
  display: none;
}

.navbar nav {
  display: block;
  text-align: center;
  margin-top: 25vh;
}

.navbar .social {
  position: absolute;
  width: 60px;
  text-align: center;
  bottom: 2.7vh;
}

.navbar .social a {
  display: block;
}

.app-logo {
  height: 50px;
  width: auto;
  margin-top: 1.5vh;
}

body {
  background: var(--bg-dark-one);
  color: var(--color-white);
}

.container {
  padding-left: 60px;
}

/* Project page display */

.project-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 50px;
  margin: 50px auto 80px auto;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
  width: 25rem;
}

.card-side {
  height: 25rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
}

.card img {
  width: 100%;
}

.card-side-front {
  height: 25rem;
  background: var(--bg-dark-two);
}

.card-side-back {
  height: 25rem;
  background: var(--bg-dark-two);
  transform: rotateY(180deg);
}

.card:hover .card-side-front {
  transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  transform: rotateY(0);
}
