* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4rem;
}

:root {
  --bg-dark-one: #1f1f1f;
  --bg-dark-two: #282828;
  --bg-dark-three: #1d1d1d;
  --color-white: #ffffff;
  --color-darken: #888888;
  --color-red: #e50b0b;
}

.navbar {
  font-size: 0.9rem;
  position: absolute;
  transform: translateX(-60px);
  top: 0;
  background: var(--bg-dark-two);
  color: var(--color-darken);
  text-align: center;
  height: 100vh;
  min-height: 500px;
  z-index: 7;
  width: 60px;
  overflow: auto;
}

.navbar .text-logo {
  color: var(--color-white);
}

.navbar i {
  color: var(--color-darken);
  font-size: 1.8rem;
  transition: all 0.1s ease-in-out;
}

.navbar .social .fa-info-circle {
  font-size: 1.6rem;
}

.navbar nav a {
  height: 50px;
  margin-bottom: 5px;
  display: block;
  color: var(--color-darken);
  width: 100%;
  transition: all 0.3s ease-out;
}

.navbar .social a i:hover,
.navbar nav a b:hover {
  color: #ffd8d8;
  text-shadow: 0 0 10px var(--color-red), 0 0 40px var(--color-red),
    0 0 10px var(--color-red);
}

.navbar nav b {
  padding: 5px;
  display: none;
}

.navbar nav a:hover b {
  display: block;
  color: #ffd8d8;
  text-shadow: 0 0 10px var(--color-red), 0 0 40px var(--color-red),
    0 0 10px var(--color-red);
}

.navbar nav a:hover i {
  display: none;
}

.navbar nav {
  display: block;
  text-align: center;
  margin-top: 25vh;
}

.navbar .social {
  position: absolute;
  width: 60px;
  text-align: center;
  bottom: 2.7vh;
}

.navbar .social a {
  display: block;
}

.app-logo {
  height: 50px;
  width: auto;
  margin-top: 1.5vh;
}

body {
  background: var(--bg-dark-one);
  color: var(--color-white);
}

.container {
  padding-left: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
