/***** Reset
**************************/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.4rem;
}

/***** Variables
**************************/

:root {
  --bg-dark-one: #1f1f1f;
  --bg-dark-two: #282828;
  --bg-dark-three: #1d1d1d;
  --bg-dark-four: #00000033;
  --bg-dark-transparent: #2d303a4d;
  --color-white: #ffffff;
  --color-darken: #888888;
  --color-red: #e32d0d;
  --neon-primary: #e42427;
  --neon-secondary: #ffdad3;
  --linear-gradient-one: linear-gradient(to right, #ff29ff57, #4fff6c7e);
}

/***** Nav
**************************/

.navbar {
  font-size: 0.9rem;
  position: absolute;
  position: fixed;
  transform: translateX(-60px);
  top: 0;
  background: var(--bg-dark-two);
  color: var(--color-darken);
  text-align: center;
  height: 100%;
  z-index: 7;
  width: 3.125%;
  min-width: 60px;
  overflow: auto;
}

.navbar .text-logo {
  color: var(--color-white);
}

.navbar nav .material-icons-outlined {
  font-size: 2rem;
}

/* .navbar nav .material-icons-outlined + b {
  padding-top: 5px;
} */

.navbar .social .fa-info-circle {
  font-size: 1.5rem;
}

.navbar i {
  color: var(--color-darken);
  font-size: 1.6rem;
}

.navbar nav a {
  max-height: 3.5rem;
  height: 3rem;
  display: block;
  color: var(--color-darken);
  width: 100%;
  position: relative;
}

.navbar nav i,
.navbar nav b {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  transition: all 0.3s ease-out;
}

/* Absolute icon and text position */
.navbar nav i {
  padding-top: 20%;
}

.navbar nav b {
  padding-top: 22%;
}

.navbar nav .material-icons-outlined {
  padding-top: 15%;
}

.navbar .social i {
  transition: all 0.3s ease-out;
}

.navbar .social {
  position: absolute;
  width: 3.125%;
  min-width: 60px;
  width: 100%;
  text-align: center;
  bottom: 2.7vh;
}

.navbar .social a {
  display: block;
}

.navbar nav b {
  opacity: 0;
}

.navbar nav b:hover,
.navbar nav i:hover,
.navbar .social i:hover {
  color: var(--neon-secondary);
  text-shadow: 0 0 3px var(--neon-primary), 0 0 10px var(--neon-primary),
    0 0 30px var(--neon-primary), 0 0 20px var(--neon-primary),
    2px 2px 5px var(--neon-primary);
}

.navbar nav a:hover b {
  opacity: 1;
  color: var(--neon-secondary);
}

.navbar nav a:hover i {
  opacity: 0;
  color: var(--neon-secondary);
  text-shadow: 0 0 3px var(--neon-primary), 0 0 10px var(--neon-primary),
    0 0 30px var(--neon-primary), 0 0 20px var(--neon-primary),
    2px 2px 5px var(--neon-primary);
}

.navbar nav {
  opacity: 1;
  text-align: center;
  transform: translateY(90%);
}

.app-logo {
  height: 50px;
  width: auto;
  margin-top: 1.5vh;
}

body {
  background: var(--bg-dark-one);
  color: var(--color-white);
}

.container {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin-left: 60px;
  overflow: hidden;
  position: relative;
}

/***** Project Page
**************************/

.project-container {
  width: 90%;
  display: block;
  margin: 1rem auto;
  display: grid;
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fill, minmax(44vh, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(41vh, 1fr));
  justify-items: center;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  margin: 0 auto;
  width: 49vh;
  height: 43vh;
  object-fit: cover;
}

.card-side {
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 3px;
}

.card img {
  width: 100%;
}

.card-side-front {
  width: 100%;
  height: 100%;
  background: var(--bg-dark-two);
  text-align: center;
}

.card-side-back {
  width: 100%;
  height: 100%;
  background: var(--bg-dark-two);
  transform: rotateY(180deg);
}

.card-side-front .project-name {
  width: 100%;
  position: absolute;
  background: var(--bg-dark-transparent);
  bottom: 0;
}

.card:hover .card-side-front {
  transform: rotateY(-180deg);
}

.card:hover .card-side-back {
  transform: rotateY(0);
}

/***** Project Item Popup
**************************/

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9997;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup-close-main {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.popup-content {
  z-index: 9999;
  background: var(--bg-dark-two);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  width: 75%;
  max-height: 90vh;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: var(--color-white);
  display: flex;
  overflow: hidden;
  transition: all 0.4s 0.2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-content .popup-left {
  width: 33%;
}

.popup-content .popup-right {
  width: 66%;
  padding: 1rem 1rem;
}
.popup-content .popup-right .popup-close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 1.8rem;
}

.popup-img {
  display: block;
  width: 100%;
}

.popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  hyphens: auto;
}

/***** Admin Page 
**************************/
.admin-page-container {
  display: flex;
  width: 80%;
  margin: 10% auto;
}

.admin-page-container .edit-form {
  width: 40%;
}

.admin-page-container .project-list {
  width: 40%;
}

.edit-form form {
  display: flex;
  flex-direction: column;
}

/***** Media Queries 
**************************/

@media screen and (max-height: 331px) {
  .navbar nav {
    transform: translateY(0rem);
  }

  .navbar nav a {
    margin-bottom: -3px;
  }

  .navbar .social {
    display: none;
  }
}

@media screen and (min-height: 300px) {
  .navbar nav {
    transform: translateY(0rem);
  }

  .navbar nav a {
    margin-bottom: -3px;
  }
}

@media screen and (min-height: 350px) {
  .navbar nav {
    transform: translateY(1rem);
  }

  .navbar nav a {
    margin-bottom: -3px;
  }
}

@media screen and (min-height: 400px) {
  .navbar nav {
    transform: translateY(2.2rem);
  }
}

@media screen and (min-height: 550px) {
  .navbar nav {
    transform: translateY(4rem);
  }
}

@media screen and (min-height: 600px) {
  .navbar nav {
    transform: translateY(6rem);
  }
}

@media screen and (min-height: 650px) {
  .navbar nav {
    transform: translateY(7.5rem);
  }
}

@media screen and (min-height: 700px) {
  .navbar nav {
    transform: translateY(9.5rem);
  }
}

@media screen and (min-height: 750px) {
  .navbar nav {
    transform: translateY(10rem);
  }
}

@media screen and (min-height: 800px) {
  .navbar nav {
    transform: translateY(12rem);
  }
}

@media screen and (min-height: 1000px) {
  .navbar nav {
    transform: translateY(16rem);
  }

  .project-container {
    margin: 1.5rem auto;
    gap: 3rem 3rem;
  }
}

@media screen and (min-height: 1300px) {
  .navbar nav {
    transform: translateY(24rem);
  }
}

@media screen and (min-height: 2100px) {
  .navbar nav {
    transform: translateY(47rem);
  }

  .container {
    margin-left: 8rem;
  }

  .navbar {
    transform: translateX(-8rem);
    font-size: 2rem;
  }

  .navbar i {
    font-size: 3rem;
  }

  .navbar nav a {
    padding-bottom: 5rem;
  }

  .navbar .social a {
    padding-bottom: 1.5rem;
  }

  .navbar nav .material-icons-outlined {
    font-size: 4rem;
  }

  .app-logo {
    height: 70px;
    width: auto;
    margin-top: 1.5vh;
    padding-bottom: 0.5rem;
  }

  .project-container {
    margin: 5rem auto;
    gap: 5rem 3rem;
  }
}
