.btn {
  display: block;
  color: #f1f1f1;
  padding: 5px 17px;
  font-size: 18px;
  overflow: hidden;
  border: 2px solid #c9c9c9;
  border-radius: 50px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
  white-space: nowrap;
  &:hover {
    color: $bg-dark-one;
    background: #f4f4f4;
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 0px 0.8px $color-darken);
  }
}

.btn-animated {
  &:hover {
    background: linear-gradient(27deg, rgba(35, 213, 171, 0.7), rgba(235, 77, 182, 0.7), rgba(18, 233, 215, 0.7), rgba(246, 79, 204, 0.7), rgba(35, 213, 171, 0.7));
    background-size: 800% 2500%;
    border: 2px solid rgba(0, 0, 0, 0);
    animation: change 15s ease infinite;
    color: $color-white;
    text-shadow: 0 0 2px $color-darken;
  }
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 0 2rem;
  width: 330px;
}