// Animation


// Scene

:root {
  --face-color: rgba(95, 95, 95, 0.7);
}

.scene {
  width: 8rem;
  height: 8rem;
  perspective: 800px;
}

// Cube

.cube {
  width: 8rem;
  height: 8rem;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: 1s;
}

.cube-face {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: 1px solid rgba(33, 24, 100, 0.7);
}

.cube-face-front,
.cube-face-right,
.cube-face-back,
.cube-face-left,
.cube-face-top,
.cube-face-bottom {
  background: var(--face-color);
}

.cube-face-front  { transform: rotateY(   0deg) translateZ( 4rem); }
.cube-face-right  { transform: rotateY(  90deg) translateZ( 4rem); }
.cube-face-back   { transform: rotateY( 180deg) translateZ( 4rem); }
.cube-face-left   { transform: rotateY( -90deg) translateZ( 4rem); }
.cube-face-top    { transform: rotateX(  90deg) translateZ( 4rem); }
.cube-face-bottom { transform: rotateX( -90deg) translateZ( 4rem); }

@keyframes rotating {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(-4, 5, 7, -360deg);
  }
}

.rotate {
  animation: rotating 10s linear infinite;
}


// Cube color

.animated-bg {
  background: linear-gradient(-15deg, rgba(35, 213, 171, 0.7), rgba(216, 113, 237, 0.7), rgba(18, 233, 215, 0.7), rgba(246, 79, 204, 0.7));
  background-size: 600% 500%;
  animation: change 6s ease infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
